body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 10002;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
  background-color: #59fbff;
}
.popup_show {
  z-index: 10003;
  visibility: visible;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  width: 100%;
  height: auto;
}
.popup__content {
  position: relative;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  width: 100%;
  height: 100%;
  // padding-top: 224px;
  @include adaptiveValue("padding-top", 104, 50);
  .lock & {
    visibility: visible;
  }
}

.popup {
  &__close {
    position: fixed;
    right: 44px;
    top: 50px;
    z-index: 10004;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../../img/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (max-width: $mobile) {
      right: 24px;
      top: 24px;
    }
  }
  &__products {
    position: relative;
    padding-top: 124px;
    padding-bottom: 117px;
    border-radius: 60px 60px 0px 0px;
    background: #fff8e1;
    height: auto;
    z-index: 0;
    @media (max-width: $smallLaptop) {
      padding-top: 82px;
      border-radius: 40px 40px 0px 0px;
    }

    @media (max-width: $bigTablet) {
      padding-top: 55px;
      border-radius: 26px 26px 0px 0px;
    }

    @media (max-width: $mobile) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .products {
      height: 100%;
      width: 100%;
      &__heading {
        display: none;
      }
      &-show-all {
        display: none;
      }
    }
    // .bagels {
    //   pointer-events: none;
    // }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 45px;
    gap: 80px;
    @media (max-width: em(2100)) {
      max-width: 1660px;
    }
    @media (max-width: em(1920)) {
      max-width: 1480px;
      justify-content: space-between;
    }
    @media (max-width: $smallLaptop) {
      max-width: 1100px;
      gap: 0;
    }

    @media (max-width: $bigTablet) {
      max-width: 740px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    .product {
      // width: 868px;
      // height: 955px;
      // width: 100%;
      // height: 100%;
      // padding-top: 150px;
      padding: 150px 125px 0 125px;
      @media (max-width: em(1920)) {
        padding: 150px 50px 0 80px;
      }
      @media (max-width: $smallLaptop) {
        padding: 80px 70px 0 70px;
      }

      @media (max-width: $bigTablet) {
        padding: 50px 50px 0 50px;
      }

      @media (max-width: $mobile) {
        padding: 0;
      }

      &__image-wrap {
        max-width: 868px;
        max-height: 955px;

        transform: scale(1.65);
        .assortment__product {
          margin: 0;
        }
        @media (max-width: em(1920)) {
          transform: scale(1.4);
        }

        @media (max-width: $bigTablet) {
          transform: scale(1.3);
        }
        @media (max-width: $mobile) {
          transform: scale(1);
        }
      }

      &__info {
        max-width: 720px;
        position: relative;
        margin-bottom: 154px;
        padding-top: 10px;
        @media (max-width: em(1920)) {
          // max-width: 568px;
          max-width: 680px;
        }
        @media (max-width: $smallLaptop) {
          // max-width: 453px;
          margin-bottom: 88px;
        }

        @media (max-width: $bigTablet) {
          // max-width: 302px;
          margin-bottom: 44px;
          max-width: 453px;
        }

        @media (max-width: $mobile) {
          max-width: 340px;
          margin-bottom: 15px;
        }
        @media (max-width: em(950)) {
          padding-top: 0;
        }
      }
      &__info-wrap {
        display: flex;
        max-width: 680px;
      }

      &__info-order {
        margin-top: 43px;
        position: relative;
        // height: 115px;
        max-width: 680px;
        @media (max-width: $smallLaptop) {
          margin-top: 20px;
        }

        @media (max-width: $bigTablet) {
          margin-top: 13px;
        }
        @media (max-width: $mobile) {
          display: flex;
          justify-content: center;
          margin-top: 27px;
        }
      }

      &__info-title {
        margin-bottom: 30px;
        padding-left: 10px;
        max-width: 680px;

        @media (max-width: $smallLaptop) {
          margin-bottom: 19px;
        }
        @media (max-width: $bigTablet) {
          margin-bottom: 13px;
        }
        @media (max-width: $mobile) {
          margin-bottom: 27px;
        }
      }
      &__info-text {
        max-width: 720px;
        padding-left: 10px;
        // margin-bottom: 18px;
        @media (max-width: $mobile) {
          margin-bottom: 20px;
        }
      }
      &__info-wrap {
        position: relative;
        @media (max-width: $mobile) {
          display: flex;
          justify-content: center;
        }
      }
      &__info-weight {
        margin-top: 120px;
        margin-left: -50px;
        width: 308px;
        height: 146px;
        transform: rotate(-11.905deg);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../img/weight-mark.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: em(1920)) {
          // margin-top: 80px;
          // margin-left: -35px;
          width: 256px;
          height: 121px;
        }
        @media (max-width: $smallLaptop) {
          margin-top: 80px;
          margin-left: -35px;
          width: 204px;
          height: 97px;
        }
        @media (max-width: $bigTablet) {
          margin-top: 50px;
          margin-left: -20px;
          width: 136.452px;
          height: 64.938px;
        }
        @media (max-width: $mobile) {
          margin-left: -30px;
        }
      }
      &__info-price {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(8.224deg);
        position: relative;
        width: 367px;
        height: 133px;
        background-image: url(../../img/price-mark.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        @media (max-width: em(1920)) {
          width: 305px;
          height: 111px;
        }
        @media (max-width: $smallLaptop) {
          width: 244px;
          height: 89px;
          margin-top: 28px;
        }
        @media (max-width: $bigTablet) {
          margin-top: 18px;
          width: 163px;
          height: 59px;
        }
        .price-mark {
          position: absolute;
          object-fit: cover;
          object-position: 50% 50%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 0;
        }
        span {
          position: relative;
          z-index: 1;
        }
      }
      &__info-btn {
        margin-top: 30px;
        margin-left: 10px;
        height: 125px;
        padding: 10px;

        span {
          padding: 18px 133px;
          font-family: Grotesk;
          font-size: 51.417px;
          font-style: normal;
          font-weight: 800;
          text-transform: capitalize;
        }
      }
    }
  }
}

.popup-show {
  .popup__close {
    display: block;
  }
}

.order {
  position: relative;
  cursor: pointer;
  display: flex;
  height: 115px;
  max-width: 680px;
  // width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.3s ease-in;

  @media (max-width: $smallLaptop) {
    max-width: 453px;
    height: 83px;
    padding: 6px;
    border-radius: 13px;
  }

  @media (max-width: $bigTablet) {
    max-width: 302px;
    height: 56px;
    padding: 4px;
    border-radius: 9px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    max-width: 340px;
    border-radius: 10px;
    height: 60px;
    padding: 5px;
  }

  &__wrap {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: $smallLaptop) {
      border-radius: 8px;
    }

    @media (max-width: $bigTablet) {
      border-radius: 5px;
    }

    @media (max-width: $mobile) {
      // border-radius: 10px;
    }
  }

  &__title {
    padding: 18px 133px;
    font-family: Grotesk;
    font-size: 51px;
    font-style: normal;
    font-weight: 800;
    text-transform: capitalize;
    @media (max-width: em(1920)) {
      padding: 18px 110px;
      font-size: 42px;
    }

    @media (max-width: $smallLaptop) {
      font-size: 34px;
      padding: 18px 88px;
    }

    @media (max-width: $bigTablet) {
      font-size: 22px;
      padding: 12px 59px;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
      padding: 13px 66px;
    }
    @media (max-width: em(450)) {
      padding: 11px 30px;
    }
  }

  strong {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: inherit;
    // box-shadow:
    //   0 0 0 2px #00000036,
    //   0 0.4em 0 0 #00000028;
    transform: translate3d(0, 0.75em, -1em);
    transition:
      transform 0.15s,
      box-shadow 0.15s;
  }

  &:hover {
    transform: translate(0, 0.25em);
  }

  &:hover strong {
    // box-shadow:
    //   0 0 0 2px #00000036,
    //   0 0.25em 0 0 #00000028;
    transform: translate3d(0, 0.5em, -1em);
  }

  &:active {
    transform: translate(0em, 0.75em);

    @media (max-width:$mobileSmall){
      transform: translate(0em, 0.55em);
    }
  }

  &:active strong {
    // box-shadow:
    //   0 0 0 2px #00000036,
    //   0 0 0 0 #00000028;
    transform: translate3d(0, 0, -1em);
  }
}

.active-form.order {
  height: 360px;
  @media (max-width: $smallLaptop) {
    height: 310px;
  }
  @media (max-width: $bigTablet) {
    height: 265px;
  }
  // @media (max-width: $mobile) {
  //   height: 310px;
  // }
}

.order-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  @media (max-width: $smallLaptop) {
    margin-top: 20px;
  }
  @media (max-width: $bigTablet) {
    margin-top: 8px;
  }
  @media (max-width: $mobile) {
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    @media (max-width: $bigTablet) {
      flex-direction: column;
      align-items: center;
      &:last-child {
        flex-direction: row;
        gap: 20px;
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      &:last-child {
        flex-direction: row;
        gap: 20px;
      }
    }
  }
  .name-lable {
    max-width: 300px;
    width: 100%;
    @media (max-width: $bigTablet) {
      max-width: 100%;
    }
  }
  .phone-lable {
    max-width: 300px;
    width: 100%;
    @media (max-width: $bigTablet) {
      max-width: 100%;
    }
  }
  &__btn {
    margin-left: 30px;
    @media (max-width: $bigTablet) {
      margin-left: 0;
    }
  }
  button.btn {
    height: 73px;
    padding: 4px;

    // @media (max-width: $smallLaptop) {
    //   height: 69px;
    // }

    // @media (max-width: $mobile) {
    //   padding: 3px;
    //   height: 42px;
    // }

    span {
      padding: 15px 37px;
      // @media (max-width: $smallLaptop) {
      //   padding: 18px 27px;
      // }
      // @media (max-width: $mobile) {
      //   padding: 8px 32px;
      // }
    }
    & strong {
      transform: translate3d(0, 0.3em, -1em);
      // box-shadow:
      //   0 0 0 2px rgba(0, 0, 0, 0.2117647059),
      //   0 0.2em 0 0 rgba(0, 0, 0, 0.1568627451);
    }
    &:hover strong {
      // box-shadow:
      //   0 0 0 2px #00000036,
      //   0 0.1em 0 0 #00000028;
      transform: translate3d(0, 0.1em, -1em);
    }

    @media (max-width: em(1920)) {
      height: 72px;
      border-radius: 18px;
      padding: 3.5px;
      span {
        padding: 16px 33px;
        border-radius: 14px;
        font-size: 21px;
      }
    }

    @media (max-width: $smallLaptop) {
      height: 55px;
      border-radius: 13px;
      padding: 2.6px;
      span {
        padding: 12px 25px;
        border-radius: 10px;
        font-size: 16px;
      }
    }
    @media (max-width: $bigTablet) {
      height: 36px;
      border-radius: 8px;
      padding: 1.8px;
      span {
        padding: 8px 16px;
        border-radius: 7px;
        font-size: 10px;
      }
    }

    @media (max-width: $mobile) {
      height: 42px;
      border-radius: 8px;
      padding: 2.5px;
      span {
        padding: 9px 30px;
        border-radius: 6px;
        font-size: 12px;
      }
    }
  }
  &__lable {
    display: flex;
    flex-direction: column;
    // width: 100%;
  }
  &__input {
    padding: 10px 0;
    border-bottom: 2px solid #000;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    @media (max-width: $bigTablet) {
      padding: 6px 0;
    }
  }
  &__input,
  &__placeholder {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    width: 100%;
    @media (max-width: $bigTablet) {
      font-size: 13px;
    }
  }
  &__amount {
    margin-top: 4px;
    margin-bottom: 27px;
    padding: 15px;
    border: 2px solid #000;
    width: 199px;
    height: 77px;
    border-radius: 16px;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: em(1920)) {
      height: 72px;
      margin-top: 7px;
    }
    @media (max-width: $smallLaptop) {
      margin-top: 7px;
      width: 120px;
      // height: 65px;
      height: 55px;
      margin-bottom: 0;
      font-size: 30px;
    }

    @media (max-width: $bigTablet) {
      width: 99px;
      height: 36px;
      font-size: 25px;
      border-radius: 8px;
    }

    @media (max-width: $mobile) {
      margin-top: 8px;
      margin-bottom: 0;
      padding: 8px;
      height: 42px;
      border-radius: 8px;
      font-size: 20px;
    }

    // @media (max-width: $mobile) {
    //   width: auto;
    // }
  }
}
