.heading {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 80, 28);
  @media (max-width: $tablet) {
    line-height: 1.07;
  }
  line-height: 1.05;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
.heading_2 {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 60, 28);
  @include adaptiveValue("line-height", 84, 30);
  font-style: normal;
  text-transform: uppercase;
}

.heading_3 {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 52, 28);
  @media (max-width: $tablet) {
    line-height: 1.14;
  }
  line-height: 1.07;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.title {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 48, 24);
  @media (max-width: $tablet) {
    line-height: 1.16;
  }
  line-height: 1.25;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.title_2 {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 40, 24);
  @media (max-width: $tablet) {
    line-height: 1.16;
  }
  line-height: 2.1;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.title_3 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 32, 28);
  @media (max-width: $tablet) {
    line-height: 1.07;
  }
  line-height: 1.25;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.title_5 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 24, 14);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.caption {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 36, 18);
  font-style: normal;
  font-weight: 700;
  line-height: 122.222%; /* 122.222% */
  text-transform: uppercase;
}

.body {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 44, 18);
  @media (max-width: $tablet) {
    line-height: 1.22;
  }
  line-height: 1.18;
  font-style: normal;
  font-weight: 500;
}

.body_2 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 40, 24);
  @media (max-width: $tablet) {
    line-height: 1.16;
  }
  line-height: 1.2;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.body_3 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 36, 18);
  @media (max-width: $tablet) {
    line-height: 1.22;
  }
  line-height: 1.33;
  font-style: normal;
  font-weight: 500;
}

.body_4 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 36, 18);
  font-style: normal;
  font-weight: 400;
  line-height: 111.111%; /* 111.111% */
}

.body_5 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 24, 18);
  @media (max-width: $tablet) {
    line-height: 1.22;
  }
  line-height: 1.16;
  font-style: normal;
  font-weight: 400;
}

.body_6 {
  font-family: $fontFamily, sans-serif;
  font-style: normal;
  font-weight: 400;
  @include adaptiveValue("font-size", 20, 14);
  @media (max-width: $tablet) {
    line-height: 1.28;
  }
  line-height: 1.4;
}

.form_input {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 20, 16);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 120% */
}

.price {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 32, 22);
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 125% */
}

.price_2 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 51, 26);
  font-size: 51.417px;
  font-style: normal;
  font-weight: 800;
  line-height: 72.727%; /* 72.727% */
}

.weight {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 32, 19);
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 125% */
}

.weight_2 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 59, 28);
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 125% */
}
.number {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 40, 24);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 120% */
}

.date {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 14, 8);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__link {
  font-family: Grotesk, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.lang__menu-link {
  font-family: Grotesk, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}


.paragraph {
  color: #000;
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 44, 18);
  font-style: normal;
  font-weight: 500;
  @include adaptiveValue("line-height", 52, 22);
}

.message {
  color: #000;
  text-align: center;
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 36, 18);
  font-style: normal;
  font-weight: 700;
  @include adaptiveValue("line-height", 44, 22);
  text-transform: uppercase;
}