.heading {
  font-family: Grotesk, sans-serif;
  font-size: 71px;
  line-height: 1.1;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  @media (max-width: em(1850)) {
    font-size: 62px;
  }
  @media (max-width: em(1650)) {
    font-size: 57px;
  }
  @media (max-width: $smallLaptop) {
    font-size: 53px;
  }
  @media (max-width: em(1400)) {
    font-size: 44px;
  }
  @media (max-width: $bigTablet) {
    font-size: 35px;
  }
  @media (max-width: em(950)) {
    font-size: 28px;
  }
}
.heading_1 {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 64, 28);
  font-style: normal;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}
.heading_2 {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 54, 26);
  // @include adaptiveValue("line-height", 84, 30);
  line-height: 1.05;
  font-style: normal;
  text-transform: uppercase;
}

.heading_3 {
  font-family: Grotesk, sans-serif;
  font-size: 52px;
  line-height: 1.07;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  @media (max-width: em(1650)) {
  }
  @media (max-width: $smallLaptop) {
    font-size: 34px;
  }
  @media (max-width: em(1400)) {
  }
  @media (max-width: $bigTablet) {
    font-size: 23px;
    line-height: 1.16;
  }
}

.title {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 48, 24);
  @media (max-width: $tablet) {
    line-height: 1.16;
  }
  line-height: 1.25;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.title_2 {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 40, 24);
  @media (max-width: $tablet) {
    line-height: 1.16;
  }
  line-height: 2.1;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.title_3 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 32, 28);
  @media (max-width: $tablet) {
    line-height: 1.07;
  }
  line-height: 1.25;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.title_5 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 24, 14);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.caption {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 36, 18);
  font-style: normal;
  font-weight: 700;
  line-height: 122.222%; /* 122.222% */
  text-transform: uppercase;
}

.body {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 44, 18);
  @media (max-width: $tablet) {
    line-height: 1.22;
  }
  line-height: 1.18;
  font-style: normal;
  font-weight: 500;
}

.body_2 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 40, 24);
  @media (max-width: $tablet) {
    line-height: 1.16;
  }
  line-height: 1.2;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.body_3 {
  font-family: $fontFamily, sans-serif;
  font-size: 32px;
  line-height: 1.33;
  font-style: normal;
  font-weight: 500;
  @media (max-width: em(1850)) {
    font-size: 28px;
  }
  @media (max-width: em(1650)) {
    font-size: 26px;
  }
  @media (max-width: $smallLaptop) {
    font-size: 24px;
  }
  @media (max-width: em(1400)) {
    font-size: 20px;
  }
  @media (max-width: $bigTablet) {
    font-size: 16px;
  }
}

.body_4 {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 36, 18);
  font-style: normal;
  font-weight: 400;
  line-height: 111.111%; /* 111.111% */
}

.body_5 {
  font-family: $fontFamily, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  font-style: normal;
  font-weight: 400;
  @media (max-width: em(1800)) {
  }
  @media (max-width: em(1650)) {
  }
  @media (max-width: $smallLaptop) {
    font-size: 16px;
  }
  @media (max-width: em(1400)) {
  }
  @media (max-width: $bigTablet) {
    font-size: 10px;
    line-height: 1.16;
  }
}

.body_6 {
  font-family: $fontFamily, sans-serif;
  font-style: normal;
  font-weight: 400;
  @include adaptiveValue("font-size", 20, 14);
  @media (max-width: $tablet) {
    line-height: 1.28;
  }
  line-height: 1.4;
}

.form__placeholder,
.form__input {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 20, 16);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 120% */
}

.price {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 32, 22);
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 125% */
}

.price_2 {
  font-family: Grotesk, sans-serif;
  font-size: 51px;
  font-style: normal;
  font-weight: 800;
  line-height: 72.727%;
  @media (max-width: em(1650)) {
  }
  @media (max-width: $smallLaptop) {
    font-size: 34px;
  }
  @media (max-width: em(1400)) {
  }
  @media (max-width: $bigTablet) {
    font-size: 22px;
  }
}

.weight {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 32, 19);
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 125% */
}

.weight_2 {
  font-family: $fontFamily, sans-serif;
  font-size: 59px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  // @media (max-width: em(1800)) {
  //   font-size: 52px;
  // }
  @media (max-width: em(1650)) {
    font-size: 46px;
  }
  @media (max-width: $smallLaptop) {
    font-size: 39px;
  }
  @media (max-width: em(1400)) {
  }
  @media (max-width: $bigTablet) {
    font-size: 26px;
  }
}
.number {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 40, 24);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 120% */
}

.date {
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 14, 8);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__link {
  font-family: Grotesk, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: $smallLaptop) {
    font-size: 16px;
  }

  @media (max-width: $bigTablet) {
    font-size: 14px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}
.lang__menu-link {
  font-family: Grotesk, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: $smallLaptop){
    font-size: 16px;
  }

  @media (max-width: $bigTablet){
    font-size: 14px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.paragraph {
  color: #000;
  font-family: $fontFamily, sans-serif;
  @include adaptiveValue("font-size", 44, 18);
  font-style: normal;
  font-weight: 500;
  @include adaptiveValue("line-height", 52, 22);
}

.message {
  color: #000;
  text-align: center;
  font-family: $fontFamily, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;

  @media (max-width: $smallLaptop) {
    font-size: 24px;
    line-height: 29px;
  }

  @media (max-width: $bigTablet) {
    font-size: 16px;
    line-height: 19px;
  }
}

.form__success-msg {
  font-family: Grotesk;
  @include adaptiveValue("font-size", 96, 28);
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  text-transform: uppercase;
}

.marquee__text {
  font-family: Montserrat;
  @include adaptiveValue("font-size", 140, 46);
  font-size: 140px;
  font-style: normal;
  font-weight: 900;
  @include adaptiveValue("line-height", 84, 46);
  text-transform: uppercase;
}

.scene-text {
  font-family: Grotesk, sans-serif;
  @include adaptiveValue("font-size", 52, 26);
  @include adaptiveValue("line-height", 72, 34);
  text-align: center;
  font-style: normal;
  font-weight: 800;

  text-transform: uppercase;

  @media (max-width: $smallLaptop) {
    font-size: 34px;
    line-height: 48px;
  }

  @media (max-width: $bigTablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

.body_7 {
  font-family: $fontFamily, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000;
  @include adaptiveValue("font-size", 20, 18);
  @include adaptiveValue("line-height", 24, 22);
}
