.about {
  padding-top: 150px;
  @media (max-width: $mobile) {
    padding-top: 0;
  }

  // .about__container
  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;

    @media (max-width: $smallLaptop) {
      max-width: 1100px;
    }

    @media (max-width: $bigTablet) {
      max-width: 740px;
    }

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }

  &__bg-animate {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .ticker-bg:nth-child(8) {
      display: none;
      @media (max-width: $bigTablet) {
        display: flex;
      }
    }
    .ticker-bg:last-child {
      display: none;
      @media (max-width: $bigTablet) {
        display: flex;
      }
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .about__content
  &__content {
    flex: 1 1 60%;
    padding-top: 100px;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  // .about__bagel
  &__bagel {
    flex: 1 1 40%;

    @media (max-width: $mobile) {
      background: #ffdf00;
      position: sticky;
      top: 0;
      left: -15px;
      width: calc(100% + 30px);
      margin: 0 -15px;
      height: 300px;
      z-index: 100;
    }
  }

  &__bagel-sprite {
    width: 460px;
    height: 460px;
    background: url(../img/about/buble_sprites.png) center no-repeat;
    background-size: cover;
    background-position-y: 0px;
    position: relative;
    margin-left: auto;

    @media (max-width: $smallLaptop) {
      width: 340px;
      height: 340px;
      margin-left: auto;
    }

    @media (max-width: $bigTablet) {
      width: 224px;
      height: 224px;
    }

    @media (max-width: $mobile) {
      width: 300px;
      height: 300px;
      margin: 16px auto 0 auto;
    }
  }

  &__scene {
    position: relative;
    margin-bottom: 350px;

    @media (max-width:$mobile){
       margin-bottom: 260px; 
    }

    &:last-child {
      margin-bottom: 160px;

      @media (max-width: $mobileSmall) {
        margin-bottom: 80px;
      }
    }

    p {
      word-wrap: break-word;
    }

    i {
      font-style: normal;
    }

    b {
      font-weight: normal;
    }
  }

  &__scene_1 .row_2 {
    @media (max-width: $bigTablet) {
      width: 436px;
    }
    @media (max-width: $mobile) {
      width: 100%;
    }

    span {
      position: relative;
      display: inline-block;
      margin-right: 16px;

      @media (max-width: $bigTablet) {
        margin-right: 8px;
      }

      @media (max-width: $mobile) {
        margin-right: 20px;
      }
    }

    img {
      position: absolute;
      right: -42px;
      bottom: 0;

      @media (max-width: $smallLaptop) {
        width: 72px;
        height: 48px;
      }

      @media (max-width: $bigTablet) {
        width: 23px;
        height: 47px;
        right: -16px;
        bottom: -9px;
      }

      @media (max-width: $mobile) {
        width: 39px;
        height: 49px;
        right: -33px;
      }

      @media (max-width: $mobileSmall) {
        width: 31px;
        height: 50px;
        right: -25px;
      }
    }
  }

  &__scene_2 .row_1 {
    i {
      display: none;
    }

    @media (max-width: em(350)) {
      i {
        display: inline;
      }
    }
  }

  &__scene_2 .row_2 {
    @media (max-width: em(350)) {
      i {
        display: none;
      }
    }
  }

  &__scene_2 .row_4 {
    span {
      position: relative;
      display: inline-block;
      height: 52px;
      width: 64px;

      @media (max-width: $smallLaptop) {
        width: 32px;
        height: 34px;
      }

      @media (max-width: $bigTablet) {
        width: 20px;
        height: 20px;
      }

      @media (max-width: 560px) {
        width: 45px;
      }

      @media (max-width: $mobileSmall) {
        width: 32px;
      }
    }

    img {
      position: absolute;
      bottom: -24px;
      left: -13px;
      transform: rotate(-13deg);

      @media (max-width: $smallLaptop) {
        width: 48px;
        height: 68px;
      }

      @media (max-width: $bigTablet) {
        width: 35px;
        height: 63px;
      }

      @media (max-width: $mobileSmall) {
        width: 50px;
        height: 48px;
        bottom: -17px;
        left: -11px;
      }
    }
  }

  &__scene_2 .row_6 {
    i {
      display: none;
    }

    @media (max-width: $mobileSmall) {
      i {
        display: inline;
        font-style: normal;
      }
    }

    span {
      position: relative;
      display: inline-block;
      height: 52px;
      width: 45px;

      @media (max-width: $smallLaptop) {
        height: 34px;
      }

      @media (max-width: $bigTablet) {
        height: 20px;
      }
    }

    img {
      position: absolute;
      left: -25px;
      bottom: -13px;

      @media (max-width: $smallLaptop) {
        left: -21px;
        bottom: -30px;
        width: 60px;
      }

      @media (max-width: $bigTablet) {
        width: 46px;
      }

      @media (max-width: em(920)) {
        bottom: -24px;
      }

      @media (max-width: $mobile) {
        bottom: -29px;
      }

      @media (max-width: $mobileSmall) {
        width: 72px;
        height: 47px;
        left: -29px;
        bottom: -11px;
      }
    }
  }

  &__scene_2 .row_3 {
    @media (max-width: $mobileSmall) {
      i {
        display: none;
      }
    }
  }

  &__scene_2 .row_4 {
    i {
      display: none;
    }

    @media (max-width: $mobileSmall) {
      i {
        display: inline;
        font-style: normal;
      }
    }
  }

  &__scene_2 .row_8 {
    @media (max-width: 350px) {
      i {
        display: none;
      }
    }
  }

  &__scene_3 .row_1 {
    i {
      display: none;
    }

    @media (max-width: 350px) {
      i {
        display: inline;
        font-style: normal;
      }
    }
  }

  &__scene_3 .row_2 {
    @media (max-width: $mobileSmall) {
      i {
        display: none;
      }
    }
  }

  &__scene_3 .row_5 {
    margin-top: 50px;

    @media (max-width: $bigTablet) {
      margin-top: 40px;
    }

    .about__download-btn {
      background: #00c4fd;
      transition: background 0.3s ease-in 0.25s;

      span {
        position: relative;
        padding: 24px 42px;

        @media (max-width: $smallLaptop) {
          padding: 0px 42px;
        }

        @media (max-width: $bigTablet) {
          padding: 3px 28px;
        }

        &::before {
          content: "";
          position: absolute;
          width: 80px;
          height: 80px;
          top: -47px;
          left: -36px;
          background: url(../img/about/download.png) center no-repeat;

          @media (max-width: $bigTablet) {
            width: 35px;
            height: 35px;
            top: -24px;
            left: -13px;
            background-size: contain;
          }
        }

        i {
          content: "";
          position: absolute;
          width: 12px;
          height: 25px;
          display: inline-block;
          top: -25px;
          left: -1px;
          background: url(../img/about/arrows.png) center no-repeat;
          background-size: cover;
          background-position-y: 100%;

          @media (max-width: $bigTablet) {
            width: 8px;
            height: 18px;
            top: -20px;
            left: 1px;
          }
        }
      }
    }
  }

  &__scene_4 .row_1 {
    span {
      position: relative;
      display: inline-block;
      height: 52px;
      width: 45px;

      @media (max-width: $smallLaptop) {
        width: 20px;
      }

      @media (max-width: $bigTablet) {
        width: 16px;
      }

      @media (max-width: $mobile) {
        width: 18px;
      }

      @media (max-width: $mobileSmall) {
        width: 12px;
      }
    }

    img {
      position: absolute;
      left: -25px;
      bottom: -13px;

      @media (max-width: $smallLaptop) {
        left: -19px;
        bottom: -23px;
        width: 42px;
      }

      @media (max-width: $bigTablet) {
        left: -13px;
        bottom: -31px;
        width: 30px;
      }

      @media (max-width: $mobileSmall) {
        width: 33px;
        height: 60px;
        left: -16px;
        bottom: -20px;
      }
    }

    @media (max-width: $mobileSmall) {
      i {
        display: none;
      }
    }
  }

  &__scene_4 .row_2 {
    i {
      display: none;
    }

    @media (max-width: $mobileSmall) {
      i {
        display: inline;
      }

      b {
        display: none;
      }
    }
  }

  &__scene_4 .row_3 {
    b {
      display: none;
    }

    @media (max-width: $mobileSmall) {
      b {
        display: inline;
      }
    }
  }
}

.advanteges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 130px;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  // .advanteges__item
  &__item {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width: $mobile) {
      width: 50%;
    }

    @media (max-width: $mobileSmall) {
      width: 68%;
    }

    &_1 {
      transform: translateY(28%);

      @media (max-width: $smallLaptop) {
        img {
          width: 200px;
          height: auto;
        }
      }

      @media (max-width: $bigTablet) {
        img {
          width: 130px;
        }
      }

      @media (max-width: $mobile) {
        transform: translateY(14%);
        .advanteges__desc {
          order: -1;
          transform: translateY(30%);
        }

        img {
          width: 200px;
        }
      }

      @media (max-width: $mobileSmall) {
        transform: translate(-13%, 10%);
      }
    }

    &_2 {
      transform: translateX(-24%);

      @media (max-width: $smallLaptop) {
        transform: translate(-20%, -13%);

        img {
          width: 200px;
          height: auto;
        }
      }

      @media (max-width: $bigTablet) {
        transform: translate(-25%, -16%);
        img {
          width: 130px;
        }
      }

      @media (max-width: $mobile) {
        transform: translate(22%, -7%);

        .advanteges__desc {
          order: 1;
        }

        img {
          width: 200px;
          height: auto;
        }
      }

      @media (max-width: $mobileSmall) {
        transform: translate(21%, -4%);
      }

      @media (max-width: em(390)) {
        transform: translate(21%, -15%);
      }
    }

    &_3 {
      transform: translate(-18%, -15%);

      @media (max-width: $smallLaptop) {
        img {
          width: 210px;
          height: auto;
        }
      }

      @media (max-width: $bigTablet) {
        transform: translate(-18%, -20%);
        img {
          width: 150px;
        }
      }

      @media (max-width: $mobile) {
        transform: translate(-35%, 5%);

        img {
          width: 210px;
          height: auto;
        }
      }

      @media (max-width: $mobileSmall) {
        transform: translate(-23%, 5%);
      }

      @media (max-width: em(390)) {
        transform: translate(-23%, -10%);
      }
    }

    &_4 {
      transform: translate(10%, -20%);

      @media (max-width: $smallLaptop) {
        transform: translate(6%, -29%);

        img {
          width: 200px;
          height: auto;
        }
      }

      @media (max-width: $bigTablet) {
        transform: translate(3%, -29%);
        img {
          width: 130px;
        }
      }

      @media (max-width: $mobile) {
        transform: translate(25%, 12%);
        .advanteges__desc {
          order: -1;
        }

        img {
          width: 200px;
          height: auto;
        }
      }

      @media (max-width: $mobileSmall) {
        transform: translate(20%, 12%);
      }
    }

    &_5 {
      transform: translate(-4%, -28%);
      z-index: 1;

      @media (max-width: $smallLaptop) {
        transform: translate(-9%, -28%);

        img {
          width: 210px;
          height: auto;
        }
      }

      @media (max-width: $bigTablet) {
        transform: translate(-10%, -32%);
        img {
          width: 150px;
        }
      }

      @media (max-width: $mobile) {
        transform: translate(-8%, -3%);

        img {
          width: 210px;
          height: auto;
        }
      }

      @media (max-width: $mobileSmall) {
        transform: translate(-21%, -3%);
      }

      @media (max-width: em(390)) {
        transform: translate(-21%, -13%);
      }
    }
  }

  // .advanteges__img
  &__img {
    animation: trembling 0.2s infinite;
    animation-play-state: paused;

    @media (max-width: em(1384)) {
      width: 100%;
      // height: 100%;
      object-fit: contain;
    }

    @media (max-width: em(1180)) {
      height: auto;
    }

    &:hover {
      animation-play-state: running;
    }
  }

  // .advanteges__desc
  &__desc {
    text-align: center;
    text-transform: uppercase;
    max-width: 292px;

    @media (max-width: $smallLaptop) {
      max-width: 200px;
    }

    @media (max-width: $bigTablet) {
      max-width: 154px;
    }

    @media (max-width: $mobile) {
      max-width: 238px;
    }

    @media (max-width: $mobileSmall) {
      max-width: 238px;
    }
  }
}

@keyframes trembling {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes arrows-move {
  0% {
    background-position-y: 100%;
  }
  90% {
    background-position-y: 10%;
  }
  95% {
    background-position-y: 8%;
  }
  100% {
    background-position-y: 10%;
  }
}
