.about {
  padding-top: 150px;
  @media (max-width: $mobile) {
    padding-top: 0;
  }

  // .about__container
  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;

    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }

  &__bg-animate {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  // .about__content
  &__content {
    flex: 1 1 60%;
    padding-top: 100px;
    @media (max-width:$mobile){
      width: 100%; 
    }
  }

  // .about__bagel
  &__bagel {
    flex: 1 1 40%;

    .bagel {
      background-image: url(../../img/about/bagel.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 600px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @media (max-width: $mobile) {
        width: 240px;
        height: 240px;
        display: block;
        margin: 0 auto;
      }
    }

    @media (max-width: $mobile) {
      background: #ffdf00;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 240px;
      z-index: 100;
    }
  }

  &__bagel-sprite {
    width: 578px;
    height: 560px;
    background: url(../img/about/buble_sprite.png) center no-repeat;
    background-size: cover;
		background-position-y: 0px;
    position: relative;
  }

  &__scene {
    position: relative;
    margin-bottom: 350px;

    &:last-child {
      margin-bottom: 160px;
    }

    p {
      word-wrap: break-word;
    }
  }

  &__scene_1 .row_2 {
    span {
      position: relative;
      display: inline-block;
      margin-right: 16px;

      @media (max-width: $mobile) {
        margin-right: 20px;
      }
    }

    img {
      position: absolute;
      right: -42px;
      bottom: 0;
      @media (max-width: $mobile) {
        width: 39px;
        height: 49px;
        right: -33px;
      }

      @media (max-width: $mobileSmall) {
        width: 31px;
        height: 39px;
        right: -25px;
      }
    }
  }

  &__scene_2 .row_4 {
    span {
      position: relative;
      display: inline-block;
      @include adaptiveValue("height", 52, 28);
      width: 64px;

      @media (max-width: 840px) {
        width: 52px;
      }
      @media (max-width: 560px) {
        width: 45px;
      }

      @media (max-width: $mobileSmall) {
        width: 32px;
      }
    }

    img {
      position: absolute;
      bottom: -24px;
      left: -13px;
      transform: rotate(-13deg);

      @media (max-width: 840px) {
        width: 64px;
        height: 60px;
      }

      @media (max-width: $mobileSmall) {
        width: 50px;
        height: 48px;
        bottom: -17px;
        left: -15px;
      }
    }
  }

  &__scene_2 .row_6 {
    span {
      position: relative;
      display: inline-block;
      @include adaptiveValue("height", 52, 28);
      width: 45px;

      @media (max-width: $mobile) {
        // display: inline-block;
        // margin-top: -8px;
        // margin-left: -10px;
      }
    }

    img {
      position: absolute;
      left: -25px;
      bottom: -13px;

      @media (max-width: em(920)){
        bottom: -24px; 
      }

      @media (max-width: $mobile) {
        width: 82px;
        height: 54px;
        bottom: -12px;
      }

      @media (max-width: $mobileSmall) {
        width: 72px;
        height: 47px;
        left: -36px;
        bottom: -16px;
      }
    }
  }

  &__scene_3 .row_5 {
    margin-top: 50px;

    .about__download-btn {
      background: #00C4FD;
      transition: background 0.3s ease-in 0.25s;

      @media (max-width:$mobile){
        height: 74px; 
      }

      span {
        position: relative;
        padding: 24px 42px;
        

        &::before {
          content: '';
          position: absolute;
          width: 80px;
          height: 80px;
          top: -47px;
          left: -36px;
          background: url(../../img/about/download.png) center no-repeat;

          @media (max-width:$mobile){
             width: 60px;
             height: 60px; 
             top: -37px;
             left: -25px;
             background-size: contain;
          }
        }

        &::after {
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #8DE5FF;
          left: 50%;
          top: 50%;
          opacity: 0;
          transition: all 0.3s ease-in;
          transform: translate(-50%, -50%);
          z-index: -1;
        }

        i {
          content: '';
          position: absolute;
          width: 12px;
          height: 25px;
          display: inline-block;
          top: -25px;
          left: -1px;
          background: url(../../img/about/arrows.png) center no-repeat;
			    background-size: cover;
			    background-position-y: 100%;
        }

        @media (max-width:$mobile){
          padding: 20px 38px;
        }
      }

      @media (any-hover: hover) {
        &:hover {
          background: #8DE5FF;

          span::after {
            width: 100%;
            height: 100%;
            opacity: 1;
            border-radius: 20px;
          }
        }
      }
    }
  }

  &__scene_4 .row_1 {
    span {
      position: relative;
      display: inline-block;
      @include adaptiveValue("height", 52, 28);
      width: 45px;

      @media (max-width: $mobile) {
        width: 18px;
      }

      @media (max-width:$mobileSmall){
        width: 12px;  
      }
    }

    img {
      position: absolute;
      left: -25px;
      bottom: -13px;

      @media (max-width: $mobile) {
        width: 39px;
        height: 72px;
        left: -19px;
        bottom: -22px;
      }

      @media (max-width: $mobileSmall) {
        width: 33px;
        height: 60px;
        left: -16px;
        bottom: -22px;
      }
    }
  }
}

.advanteges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 130px;

 
  @media (max-width:$mobile){
     flex-direction: column;
     align-items: center; 
     margin-top: 10px;
  }

  // .advanteges__item
  &__item {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width:$mobile){
       width: 50%; 
    }

    @media (max-width:$mobileSmall){
       width: 68%; 
    }

    &_1 {
      transform: translateY(28%);
      
      @media (max-width: em(1180)){
          .advanteges__desc {
            transform: translateY(-18%);
          }
      }

      @media (max-width:$mobile){
        transform: translateY(14%);
        .advanteges__desc {
          order: -1;
          transform: translateY(30%);
        } 
      }

      @media (max-width:$mobileSmall){
        transform: translate(-13%, 10%);
      }
    }

    &_2 {
      transform: translateX(-24%);

      @media (max-width: em(1472)){
        transform: translateX(-18%);  
      }

      @media (max-width: em(1180)){
        transform: translateX(-5%);  
      }

      @media (max-width:$mobile){
        transform: translateX(22%);

        .advanteges__desc {
          order: 1;
        }
      }

      @media (max-width:$mobileSmall){
        transform: translate(21%, -7%);
      }
    }

    &_3 {
      transform: translate(-18%, -15%);

      @media (max-width: em(1180)){
        transform: translate(6%, -15%);
      }

      @media (max-width:$mobile){
        transform: translate(-35%, 5%); 
      }

      @media (max-width:$mobileSmall){
        transform: translate(-23%, 5%);
      }
    }

    &_4 {
      transform: translate(10%, -20%);

      @media (max-width: em(1180)) {
        transform: translate(17%, -6%);
      }

      @media (max-width:$mobile){
        transform: translate(25%, 12%);
        .advanteges__desc {
          order: -1;
        } 
      }

      @media (max-width:$mobileSmall){
        transform: translate(20%, 12%); 
      }
    }

    &_5 {
      transform: translate(-15%, -28%);
      z-index: 1;

      @media (max-width: em(1580)){
        transform: translate(-7%, -28%);
      }

      @media (max-width: em(1387)){
        transform: translate(0%, -28%); 
      }

      @media (max-width: em(1180)){
        transform: translate(8%, -20%);
      }

      @media (max-width:$mobile){
        transform: translate(-8%, -3%); 
      }

      @media (max-width:$mobileSmall){
        transform: translate(-21%, -3%); 
      }
    }
  }

  // .advanteges__img
  &__img {
    // width: 100%;
    // height: 100%;
    // object-fit: contain;
    animation: trembling 0.2s infinite;
    animation-play-state: paused;

    @media (max-width: em(1384)){
        width: 100%;
        // height: 100%;
        object-fit: contain;
    }

    @media (max-width: em(1180)){
        height: auto;
    }
    
    &:hover {
      animation-play-state: running;
    }
  }

  // .advanteges__desc
  &__desc {
    text-align: center;
    text-transform: uppercase;
    max-width: 292px;

    @media (max-width: em(1580)){
      max-width: 258px;
    }

    @media (max-width: em(1448)){
      max-width: 230px;
    }
  }
}



@keyframes trembling {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes arrows-move {
  0% { background-position-y: 100%; }
  90% { background-position-y: 10%; }
  95% { background-position-y: 8%; }
100% { background-position-y: 10%; }
}