.cooperation {
  position: relative;
  z-index: 2;

  &__container {
    padding-top: 200px;
    padding-bottom: 198px;
    display: flex;
    @media (max-width: em(1920)) {
      padding-top: 177px;
      padding-bottom: 176px;
    }

    @media (max-width: $smallLaptop) {
      max-width: 1100px;
      padding-top: 162px;
      padding-bottom: 132px;
    }

    @media (max-width: $bigTablet) {
      max-width: 740px;
      padding-top: 88px;
      padding-bottom: 88px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__heading {
    max-width: 1100px;
    @include adaptiveValue("padding-left", 28, 15);

    @media (max-width: $smallLaptop) {
      max-width: 732px;
    }

    @media (max-width: $bigTablet) {
      max-width: 480px;
    }

    @media (max-width: $mobile) {
      text-align: center;
      padding-left: 0;
    }
  }

  &__text {
    background-color: #fff;
    padding: 40px 62px;
    max-width: 973px;
    transform: rotate(1.5deg);
    border-radius: 52px;

    @media (max-width: $smallLaptop) {
      border-radius: 34px;
      padding: 26px 41px;
      font-size: 24px;
      line-height: 34px;
      max-width: 648px;
    }

    @media (max-width: $bigTablet) {
      border-radius: 23px;
      padding: 18px 27px;
      font-size: 16px;
      line-height: 23px;
      max-width: 432px;
    }

    @media (max-width: $mobile) {
      border-radius: 16px;
      padding: 15px 20px;
    }
  }

  &__img {
    max-width: 487px;
    img {
      width: 100%;
    }
    @media (max-width: $smallLaptop) {
      max-width: 324px;
    }

    @media (max-width: $bigTablet) {
      max-width: 216px;
    }

    @media (max-width: $mobile) {
      max-width: 250px;
    }
  }
}
.line-break {
  display: none;
  @media (max-width: em(375)) {
    display: inline;
  }
}
