.feedback {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 248, 224, 1);
  &__wrap {
    margin-top: 86px;
    width: 100%;
    padding: 0 20px;
    background: linear-gradient(0deg, rgba(255, 248, 224, 1) 50%, #ffdf00 50%);
    @media (max-width: $smallLaptop) {
      margin-top: 50px;
    }
  }
  &__container {
    position: relative;
    width: 100%;
    // max-height: 721px;
    // height: 100%;
    border-radius: 60px;
    background: #7209b7;
    padding: 69px 169px 80px 169px;
    // margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: em(2100)) {
      max-width: 1660px;
    }
    @media (max-width: em(1920)) {
      max-width: 1480px;
      padding: 61px 142px 71px 142px;
      border-radius: 53px;
    }
    @media (max-width: $smallLaptop) {
      max-width: 1100px;
      padding: 46px 113px 53px 113px;
      border-radius: 40px;
    }

    @media (max-width: $bigTablet) {
      max-width: 740px;
      padding: 30px 71px 35px 71px;
      border-radius: 26px;
    }

    @media (max-width: $mobile) {
      padding: 40px;
    }
  }

  &__heading {
    @include adaptiveValue("max-width", 1000, 260);
    padding-bottom: 81px;
    text-align: center;
    color: #fff;
    @media (max-width: em(1920)) {
      padding-bottom: 71px;
    }
    @media (max-width: $smallLaptop) {
      padding-bottom: 54px;
    }

    @media (max-width: $bigTablet) {
      padding-bottom: 36px;
    }

    .line-break {
      @media (max-width: $mobile) {
        display: inline;
      }
    }
  }
  &__ticker {
    @include adaptiveValue("padding-top", 130, 60);
    @include adaptiveValue("height", 730, 250);
    background-color: #fff8e0;
    position: relative;
    width: 100%;
    // height: 730px;
    .ticker__container {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      @media (max-width: $mobile) {
        gap: 6px;
      }
    }
    .marquee {
      display: flex;
    }
    .marquee__row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      max-height: 200px;
      @include adaptiveValue("padding-top", 58, 3);
      @include adaptiveValue("padding-bottom", 58, 3);
      white-space: nowrap;
      animation: ticker 20s infinite linear;
    }
    .marquee__row-reverse {
      animation-direction: reverse;
    }
    .outline {
      // text-shadow: 0 0 5px rgba(114, 9, 183, 1);
      color: #fff8e0;
      -webkit-text-stroke: 2px #7209b7;
      @media (max-width: $mobile) {
        -webkit-text-stroke: 1px #7209b7;
      }
    }
    .color {
      color: #7209b7;
    }
    .marquee__item {
      // padding-left: 160px;
      @include adaptiveValue("padding-left", 160, 56);
    }
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (max-width: $mobile) {
    padding-bottom: 40px;
  }

  &__wrap {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas: "name phone email" "textarea textarea textarea";
    column-gap: 30px;
    row-gap: 72px;
    padding-bottom: 90px;
    @media (max-width: em(1920)) {
      row-gap: 64px;
      padding-bottom: 68px;
    }
    @media (max-width: $smallLaptop) {
      padding-bottom: 53px;
      row-gap: 48px;
    }

    @media (max-width: $bigTablet) {
      padding-bottom: 34px;
      row-gap: 32px;
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-bottom: 40px;
    }
  }
  &__placeholder {
    color: #fff;
  }

  &__lable {
    display: flex;
    flex-direction: column;
  }
  &__input,
  &__textarea {
    display: flex;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    color: #fff;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    @media (max-width: $bigTablet) {
      border-bottom: 1px solid #fff;
    }
    @media (max-width: $mobile) {
      padding: 6px 0;
    }
  }

  .label-name {
    grid-area: name;
  }
  .label-phone {
    grid-area: phone;
  }
  .label-email {
    grid-area: email;
  }
  .label-textarea {
    grid-area: textarea;
  }
}

.feedback .form {
  button.btn {
    z-index: 10;
    height: 80px;
    border-radius: 20px;

    span {
      padding: 18px 38px;
      border-radius: 16px;
    }

    &:hover {
      transform: translate(0, 0.2em);
      -webkit-transform: translate(0, 0.2em);
    }

    & strong {
      transform: translate3d(0, 0.4em, -1em);
      -webkit-transform: translate3d(0, 0.4em, -1em);
    }
    &:hover strong {
      transform: translate3d(0, 0.2em, -1em);
      -webkit-transform: translate3d(0, 0.2em, -1em);
    }

    @media (max-width: em(1920)) {
      height: 72px;
      border-radius: 18px;
      padding: 3.5px;
      span {
        padding: 16px 33px;
        border-radius: 14px;
        font-size: 21px;
      }
    }

    @media (max-width: $smallLaptop) {
      height: 55px;
      border-radius: 13px;
      padding: 2.6px;
      span {
        padding: 12px 25px;
        border-radius: 10px;
        font-size: 16px;
      }
    }
    @media (max-width: $bigTablet) {
      height: 36px;
      border-radius: 8px;
      padding: 1.8px;
      span {
        padding: 8px 16px;
        border-radius: 7px;
        font-size: 10px;
      }
    }

    @media (max-width: $mobile) {
      height: 56px;
      border-radius: 12px;
      padding: 3px;
      span {
        padding: 14px 76px;
        border-radius: 10px;
        font-size: 14px;
      }
    }
  }
}

.img__sticker {
  position: absolute;
  z-index: 2;
  &-1 {
    left: 10%;
    top: -40px;
    max-width: 166px;
    @media (max-width: em(920)) {
      max-width: 147px;
      left: 5%;
    }
    @media (max-width: $smallLaptop) {
      max-width: 110px;
    }
    @media (max-width: $bigTablet) {
      max-width: 73px;
    }

    @media (max-width: $mobile) {
      max-width: 80px;
    }
  }
  &-2 {
    right: -50px;
    top: 30%;
    max-width: 237px;
    z-index: 2;
    @media (max-width: em(1920)) {
      right: -20px;
      top: 25%;
      max-width: 211px;
    }
    @media (max-width: $smallLaptop) {
      max-width: 157px;
    }

    @media (max-width: $bigTablet) {
      max-width: 105px;
    }

    @media (max-width: $mobile) {
      max-width: 87px;
      top: 18%;
    }
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
