.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  &__container {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 158px;
    z-index: 1;
    @media (max-width: em(1650)) {
      max-width: 1270px;
    }
    @media (max-width: $smallLaptop) {
      max-width: 1100px;
      // padding-top: 30px;
      padding-bottom: 118px;
    }

    @media (max-width: $bigTablet) {
      max-width: 740px;
      padding-top: 53px;
      padding-bottom: 79px;
    }

    @media (max-width: $mobile) {
      padding-top: 0;
      padding-bottom: 32px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__logo-img {
    max-width: 380px;
    @media (max-width: em(1650)) {
      max-width: 332px;
    }
    @media (max-width: $smallLaptop) {
      max-width: 285px;
    }
    @media (max-width: $bigTablet) {
      max-width: 190px;
    }
    @media (max-width: $mobile) {
      max-width: 241px;
    }
  }

  &__bg-animate {
    position: absolute;
    top: 50px;
    width: 100%;
    max-height: 624px;
    z-index: 1;
    // @media (max-width: $tablet) {
    //   top: 0;
    // }
    // @media (max-width: $mobile) {
    //   top: 0;
    // }
    .fourth-line {
      display: none;
    }
  }

  &__paralax {
    position: absolute;
    right: 0;
    top: 436px;
    // background-image: url(../../img/hero/hero1920.png);
    // background-repeat: no-repeat;
    // background-position: right;
    // background-size: contain;
    height: 100%;
    width: 100%;
    max-width: 966px;
    max-height: 883px;
    z-index: 2;
    @media (max-width: em(1850)) {
      max-width: 866px;
      max-height: 783px;
    }

    @media (max-width: em(1650)) {
      top: 375px;
      max-height: 772px;
      max-width: 795px;
    }

    @media (max-width: $smallLaptop) {
      top: 325px;
      max-width: 724px;
      max-height: 662px;
      // background-image: url(../../img/hero/hero1440.png);
    }

    @media (max-width: em(1400)) {
      max-width: 624px;
      max-height: 562px;
    }

    @media (max-width: $bigTablet) {
      // background-image: url(../../img/hero/hero960.png);
      max-width: 483px;
      max-height: 442px;
      top: 220px;
    }

    &-wrap {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .bagel {
      width: 100%;
      max-width: 340px;
      position: absolute;
      right: 3%;
      top: 26%;
      @media (max-width: em(1850)) {
        max-width: 295px;
      }
      @media (max-width: em(1650px)) {
        max-width: 272px;
      }
      @media (max-width: $smallLaptop) {
        max-width: 250px;
      }
      @media (max-width: em(1400)) {
        max-width: 210px;
      }
      @media (max-width: $bigTablet) {
        max-width: 170px;
      }
    }
    .stick-bagel-1 {
      width: 100%;
      max-width: 225px;
      position: absolute;
      bottom: 20%;
      left: 2.3%;
      @media (max-width: em(1850)) {
        max-width: 195px;
      }
      @media (max-width: em(1650)) {
        max-width: 180px;
      }
      @media (max-width: $smallLaptop) {
        max-width: 165px;
      }
      @media (max-width: em(1400)) {
        max-width: 135px;
      }
      @media (max-width: $bigTablet) {
        max-width: 115px;
      }
    }
    .stick-bagel {
      width: 100%;
      max-width: 335px;
      position: absolute;
      right: 26%;
      top: 0;
      @media (max-width: em(1850)) {
        max-width: 292px;
      }
      @media (max-width: em(1650)) {
        max-width: 271px;
      }
      @media (max-width: $smallLaptop) {
        max-width: 250px;
      }
      @media (max-width: em(1400)) {
        max-width: 210px;
      }
      @media (max-width: $bigTablet) {
        max-width: 170px;
      }
    }
    .cake {
      width: 100%;
      max-width: 311px;
      position: absolute;
      top: 23%;
      right: 40%;
      @media (max-width: em(1850)) {
        max-width: 266px;
      }
      @media (max-width: em(1650)) {
        max-width: 243px;
      }
      @media (max-width: $smallLaptop) {
        max-width: 221px;
      }
      @media (max-width: em(1400)) {
        max-width: 185px;
      }
      @media (max-width: $bigTablet) {
        max-width: 150px;
      }
    }
    .poppy-bagel {
      width: 100%;
      max-width: 400px;
      position: absolute;
      bottom: 1%;
      right: 28%;
      @media (max-width: em(1850)) {
        max-width: 350px;
      }
      @media (max-width: em(1650)) {
        max-width: 325px;
      }
      @media (max-width: $smallLaptop) {
        max-width: 300px;
      }
      @media (max-width: em(1400)) {
        max-width: 250px;
      }
      @media (max-width: $bigTablet) {
        max-width: 200px;
      }
    }
    .glazed-bagel {
      width: 100%;
      max-width: 240px;
      position: absolute;
      left: 6%;
      top: 5%;
      @media (max-width: em(1850)) {
        max-width: 210px;
      }
      @media (max-width: em(1650)) {
        max-width: 195px;
      }
      @media (max-width: $smallLaptop) {
        max-width: 180px;
      }
      @media (max-width: em(1400)) {
        max-width: 150px;
      }
      @media (max-width: $bigTablet) {
        max-width: 120px;
      }
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__wraper {
    z-index: 0;
    // position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 97px 0;
    @media (max-width: em(1650)) {
      padding: 85px 0;
    }
    @media (max-width: $smallLaptop) {
      padding: 73px 0;
    }
    @media (max-width: em(1400)) {
      padding: 61px;
    }
    @media (max-width: $bigTablet) {
      padding: 49px 0;
    }
    @media (max-width: $mobile) {
      padding: 54px 0 48px;
    }
  }

  &__content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    background: #fff8e1;
    border-radius: 53px;
    height: 100%;
    max-height: 765px;
    padding: 113px 121px;
    gap: 72px;
    @media (max-width: em(1650)) {
      padding: 99px 106px;
      gap: 54px;
    }
    @media (max-width: $smallLaptop) {
      padding: 85px 91px;
      gap: 54px;
    }

    @media (max-width: em(1400)) {
      padding: 70px 76px;
    }

    @media (max-width: $bigTablet) {
      padding: 56px 61px;
      gap: 36px;
    }

    @media (max-width: $mobile) {
      align-items: center;
      gap: 29px;
      border-radius: 32px;
      max-height: 500px;
      padding: 68px 40px;
    }
  }

  &__sticker-logo {
    position: absolute;
    max-width: 258px;
    bottom: -13%;
    left: 20%;
    @media (max-width: em(1650)) {
      max-width: 225px;
    }
    @media (max-width: $smallLaptop) {
      max-width: 193px;
    }
    @media (max-width: em(1400)) {
      max-width: 161px;
    }
    @media (max-width: $bigTablet) {
      max-width: 129px;
    }

    @media (max-width: $mobile) {
      max-width: 129px;
      left: 13.6%;
      bottom: -40px;
    }

    @media (max-width: em(385)) {
      left: 10%;
    }
  }

  &__sticker {
    position: absolute;
    max-width: 194px;
    bottom: -6%;
    left: 47%;
    @media (max-width: em(1650)) {
      max-width: 170px;
    }
    @media (max-width: $smallLaptop) {
      max-width: 146px;
    }

    @media (max-width: em(1400)) {
      max-width: 121px;
    }

    @media (max-width: $bigTablet) {
      max-width: 97px;
    }
    @media (max-width: $mobile) {
      max-width: 90px;
      left: 50%;
      bottom: -60px;
    }
  }

  &__heading {
    position: relative;
    z-index: 4;
    max-width: 820px;
    @media (max-width: em(1650)) {
      max-width: 684px;
    }
    @media (max-width: $smallLaptop) {
      max-width: 546px;
    }
    @media (max-width: em(1400)) {
      max-width: 455px;
    }
    @media (max-width: $bigTablet) {
      max-width: 364px;
    }
    @media (max-width: $mobile) {
      max-width: 302px;
      z-index: 4;
    }
  }

  &__text {
    position: relative;
    z-index: 4;
    max-width: 604px;
    margin-bottom: 60px;
    @media (max-width: em(1650)) {
      margin-bottom: 52px;
      max-width: 453px;
    }
    @media (max-width: $smallLaptop) {
      margin-bottom: 45px;
      max-width: 453px;
    }

    @media (max-width: em(1400)) {
      max-width: 380px;
    }

    @media (max-width: $bigTablet) {
      margin-bottom: 30px;
      max-width: 302px;
    }

    @media (max-width: $mobile) {
      z-index: 4;
      // max-width: 450px;
    }

    @media (max-width: $mobileSmall) {
    }
    span {
      &::before {
        display: inline-block;
        width: 30px;
        height: 19px;
        content: "";
        background: url(../../img/hero/left_hand.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &::after {
        display: inline-block;
        width: 31px;
        height: 19px;
        content: "";
        background: url(../../img/hero/right_hand.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

@keyframes moveLeft {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
.mobile-bg {
  display: none;
}
@media (max-width: $mobile) {
  .mobile-bg {
    display: block;
    position: absolute;
    z-index: 2;
  }

  .mobile-bg__1 {
    left: 5%;
    top: 33%;
    transform: rotate(76.921deg);
    max-height: 112px;
  }

  .mobile-bg__2 {
    right: 0;
    top: 34%;
    max-width: 106px;
    transform: rotate(-16.314deg);
    @media (max-width: $mobileSmall) {
      right: 3%;
    }
  }
  .mobile-bg__3 {
    right: -4%;
    top: 60%;
    max-width: 128px;
    transform: rotate(6.154deg);
    @media (max-width: em(600)) {
      right: -11%;
    }
  }
  .mobile-bg__5 {
    right: 0;
    top: 75%;
    max-width: 108px;
    transform: rotate(-40.018deg);
  }
  .mobile-bg__4 {
    transform: rotate(-10.412deg);
    left: -11%;
    top: 59%;
    max-width: 119px;
    @media (max-width: em(600)) {
      left: -13%;
    }
    @media (max-width: em(450)) {
      left: -16%;
    }

    // transform: rotate(-51.412deg);
  }
}
