.instagram {
  z-index: 2;
  position: relative;
  padding: 0 20px;

  @media (max-width: $mobile) {
    padding: 0;
  }

  &__header {
    @media (max-width: $mobile) {
      padding: 0 15px;
    }
  }

  &__heading {
    margin-bottom: 60px;
    text-align: center;
  }

  &__slider {
    margin-bottom: 30px;
    margin-left: -20px !important;
    margin-right: -20px !important;
  }

  &__wrapper {
    transition-timing-function: linear;
  }

  &__slide {
    padding: 32px;
    max-width: 584px;
    width: 100%;
    max-height: 690px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;

    @media (max-width: $smallLaptop) {
      padding: 20px;
      border-radius: 13px;
      gap: 20px;
    }

    @media (max-width: $bigTablet) {
      padding: 14px;
      border-radius: 8px;
      gap: 13px;
    }

    @media (max-width: $mobile) {
      max-width: 242px;
      max-height: 288px;
      padding: 14px;
      gap: 14px;
    }
  }
}

.slide {
  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__head-wrap {
    max-width: 252px;
    display: grid;
    grid-template-areas: "logo heading" "logo data";
    grid-row: 44px 32px;
    column-gap: 17px;
    @media (max-width: $mobile) {
      max-width: 128px;
      column-gap: 6px;
    }
  }
  &__logo {
    grid-area: logo;

    @media (max-width: $smallLaptop) {
      width: 50px;
      height: auto;
    }

    @media (max-width: $bigTablet) {
      width: 34px;
    }

    @media (max-width: $mobile) {
      max-width: 32px;
    }
  }
  &__heading {
    grid-area: heading;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
  }
  &__data {
    grid-area: data;
    padding: 6px 0;

    @media (max-width: $smallLaptop) {
      font-size: 10px;
    }

    @media (max-width: $mobile) {
      padding: 0;
    }
  }

  &__icon {
    margin-right: 12px;
    @media (max-width: $smallLaptop) {
      width: 24px;
      height: auto;
    }
    @media (max-width: $bigTablet) {
      width: 16px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
