//===========================================================================//
.offer {
  position: relative;
  padding: 80px 0;
  z-index: 2;
  @media (max-width: $tablet) {
    padding: 50px 0 80px;
  }
  @media (max-width: $mobile) {
    padding: 30px 0 60px;
  }

  // .offer__container
  &__container {
  }

  // .offer__heading
  &__heading {
    text-align: center;
    margin-bottom: 100px;
    @media (max-width: $tablet) {
      margin-bottom: 60px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  // .offer__slider
  &__slider {
  }

  // .offer__wrapper
  &__wrapper {
    padding-top: 160px;
    padding-bottom: 40px;
    @media (max-width: em(1440)) {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    @media (max-width: $tablet) {
      padding-top: 30px;
      padding-bottom: 20px;
    }
    @media (max-width: $mobile) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // .offer__slide
  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform: translateY(80px) scale(0.8) !important;
    cursor: pointer;
    @media (max-width: $mobile) {
      transform: translateY(0) scale(0.5) !important;
    }

    &.swiper-slide-active {
      transform: translateY(0) scale(1) !important;
      @media (max-width: $mobile) {
        transform: translateY(0) scale(1) !important;
      }

      .offer__slide-text {
        max-height: unset;
        opacity: 1;
      }

      .offer__slide-img_pink {
        .svg-bg {
          fill: #ff82e3;
        }
      }

      .offer__slide-img_blue {
        .svg-bg {
          fill: #03d2ff;
        }
      }

      .offer__slide-img_grean {
        .svg-bg {
          fill: #00ff94;
        }
      }
    }
  }

  // .offer__slide-img
  &__slide-img {
    width: 410px;
    height: 350px;

    @media (max-width: $mobile) {
      width: 328px;
      height: 280px;
    }

    @media (max-width: $mobileSmall) {
      width: 200px;
      height: 200px;
    }

    svg {
      width: 100%;
      height: 100%;

      .mage-border {
        transition: all 0.2s ease-in;
        fill: #fff;
      }

      .svg-bg {
        transition: all 0.2s ease-in;
        fill: #ffffff;
      }
    }
  }

  // .offer__slide-content
  &__slide-content {
  }

  // .offer__slide-title
  &__slide-title {
    text-align: center;
    margin: 16px 0;
  }

  // .offer__slide-text
  &__slide-text {
    border-radius: 20px;
    background: #fff;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 490px;
    // max-height: 2px;
    opacity: 0;
    transition: all 0.3s ease-in;

    @media (max-width: $tablet) {
      padding: 20px;
      max-width: 360px;
    }

    @media (max-width: $mobile) {
      padding: 18px;
      max-width: 300px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    top: 35%;

    @media (max-width: $mobileSmall) {
      top: 42%;
    }

    &::after {
      content: "";
      width: 36px;
      height: 36px;
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (max-width: $tablet) {
      display: block;
    }
    @media (max-width: $mobile) {
      display: block;
    }
  }

  .swiper-button-prev {
    &::after {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzgiIHZpZXdCb3g9IjAgMCAzNiAzOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI2IDMzLjkxMTZMMTEgMTguOTExNkwyNiAzLjkxMTYyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEwIi8+Cjwvc3ZnPgo=);
    }
  }

  .swiper-button-next {
    &::after {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzgiIHZpZXdCb3g9IjAgMCAzNiAzOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IkZyYW1lIDEzMDYiPgo8cGF0aCBpZD0iUmVjdGFuZ2xlIDIwIiBkPSJNMTAgMy45MTE2MkwyNSAxOC45MTE2TDEwIDMzLjkxMTYiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMTAiLz4KPC9nPgo8L3N2Zz4K);
    }
  }
}
