# BEGIN WordPress
# Директиви (рядки) між `BEGIN WordPress` і `END WordPress`
# створені автоматично і підлягають змінам тільки через фільтри WordPress.
# Зміни зроблені вручну між цими маркерами будуть перезаписані.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
RewriteRule ^(.*\.php)$ $1 [L]
RewriteRule . index.php [L]
</IfModule>

# END WordPress
# BEGIN LiteSpeed
# Директиви (рядки) між `BEGIN LiteSpeed` і `END LiteSpeed`
# створені автоматично і підлягають змінам тільки через фільтри WordPress.
# Зміни зроблені вручну між цими маркерами будуть перезаписані.
<IfModule Litespeed>
SetEnv noabort 1
</IfModule>
# END LiteSpeed