//====================================================================================================
.footer {
   position: relative;
   padding-top: 80px;
   padding-bottom: 130px;

   background: url(../img/theme/map.png) no-repeat;
   background-position: center right;
   background-size: contain;


   @media (max-width: em(1572)){
      background-position: bottom right;
      background-size: 45%;
   }

   @media (max-width: $smallLaptop){
      background-size: 40%;
   }

   @media (max-width: em(920)){
      background: url(../img/theme/mobile_map.svg) no-repeat;
      background-position: right 100%;
      background-size: contain;
   }


   @media (max-width:$mobile){
      background-size: 54%; 
      background-position: 100% 44%;
   }

   @media (max-width: em(620)){
      background-size: 56%; 
   }

   @media (max-width: em(520)){
      background-size: 73%; 
   }

   @media (max-width:$mobileSmall){
      background-size: 84%; 
      background-position: 100% 34%;
   }

   @media (max-width: em(420)){
      background-size: contain; 
   }


   // .footer__container
   &__container {
      @media (max-width: $smallLaptop){
         max-width: 1100px;
       }
   
       @media (max-width: $bigTablet){
          max-width: 740px; 
       }
   }

   // .footer__content
   &__content {
      position: relative;
      z-index: 2;
      display: flex;
      gap: 54px;
      margin-bottom: 28px;

      @media (max-width: $smallLaptop){
           gap: 35px;
      }

      @media (max-width:$mobile){
         flex-direction: column; 
         align-items: center;
         gap: 330px; 
      }

      @media (max-width:$mobileSmall){
          gap: 500px; 
      }
   }

    // .footer__logo
    &__logo {
      flex: 0 1 330px;
      outline: none;
      img {
         width: 100%;
         height: auto;
      }

      @media (max-width: $smallLaptop){
           max-width: 245px;
      }

      @media (max-width: $bigTablet){
           max-width: 164px;
      }

      @media (max-width:$mobile){
         max-width: 242px;
         flex: 0 1 auto;
         order: 1;
      }
   }

   // .footer__contacts
   &__contacts {
      display: flex;
      flex-direction: column;

      // @media (max-width: 1024px){
      //     order: -1; 
      //     text-align: center;
      // }
   }

   // .footer__heading
   &__heading {
      font-family: Grotesk, sans-serif;
      font-size: 53px;
      font-style: normal;
      font-weight: 800;
      line-height: 74px;
      letter-spacing: -0.6px;
      margin-bottom: 32px;

      @media (max-width: $smallLaptop){
         font-size: 40px;
         line-height: 56px;
         margin-bottom: 24px;
      }

      @media (max-width: $bigTablet){
         font-size: 26px;  
         line-height: 37px;
         margin-bottom: 16px;
      }

      @media (max-width:$mobile){
          margin-bottom: 26px; 
          text-align: center;
      }

      @media (max-width:$mobileSmall){
          margin-bottom: 16px; 
      }
   }

   &__phones {
      @media (max-width:$mobile){
         text-align: center; 
      }

      .footer__linck {
         
         @media (any-hover: hover) {
            &:hover {
               &::after {
                  left: 0;
                  width: 100%;
               }
            
            }
         }
      }
   }

   // .footer__linck
   &__linck {
      font-family: $fontFamily, sans-serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.4px;
      display: inline-block;
      transition: all 0.3s ease-in;
      position: relative;
      outline: none;

      @media (max-width: $smallLaptop){
         font-size: 26px;
      }

      @media (max-width: $bigTablet){
         font-size: 18px;
      }

      @media (max-width:$mobile){
          text-align: center; 
      }

      &::after {
         position: absolute;
         content: '';
         height: 2px;
         background-color: #000;
         bottom: 0;
         left: 50%;
         width: 0;
         transition: all 0.3s ease-in;
      }

       &:focus,
       &:focus-visible {
         text-decoration: underline;
       }

      &_addr {
         max-width: 437px;
         margin-top: 22px;

         @media (max-width: $smallLaptop){
            margin-top: 18px; 
         }
         
         @media (max-width: $bigTablet){
            margin-top: 12px;
            max-width: 268px;
         }

         @media (max-width:$mobile){
             margin: 16px auto 0 auto; 
         }
      }
   }

   // .footer__copyright
   &__copyright {
      font-family: $fontFamily, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4; 
      letter-spacing: -0.2px;

      @media (max-width: $smallLaptop){
         font-size: 18px;
      }

      a {
         outline: none;
         text-decoration: underline;
         transition: all 0.2s ease-in;

         &:focus,
         &:focus-visible {
            box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, #FFF 0px 0px 0px 3px;
            border-radius: 4px;
         }
      }

      @media (max-width:$mobile){
         line-height: 1.28; 
         text-align: center;
      }
   }
}


.scroll-up {
   display: block;
   width: 154px;
   height: 154px;
   background: #fff;
   border-radius: 50%;
   box-sizing:border-box;
   padding: 8px;

   position: fixed;
   z-index: 100;
   right: 50px;
   bottom: 50px;

   @media (max-width: $smallLaptop){
      width: 123px;
      height: 123px; 
      padding: 7px;
   }

   @media (max-width:$bigTablet){
      width: 86px;
      height: 86px; 
      right: 30px;
      bottom: 30px; 
      padding: 5px;
   }

   @media (max-width:$mobileSmall){
      width: 60px;
      height: 60px; 
      padding: 4px;
   }

   span {
      display: flex;
      align-items:center;
      justify-content: center;
      width: 138px;
      height: 138px;
      box-sizing:border-box;
      border-radius: 50%;
      border: 3px solid #000;
      
      @media (max-width: $smallLaptop){
         width: 110px;
         height: 110px;

         svg {
            width: 54px;
            height: 54px;
         }
      }

      @media (max-width:$bigTablet) {
         width: 76px;
         height: 76px;

         svg {
            width: 36px;
            height: 36px;
         }
      }

      @media (max-width:$mobile){
         width: 77px;
         height: 77px; 
         border: 2px solid #000;

         svg {
            width: 38px;
            height: 38px;
         }
      }

      @media (max-width:$mobileSmall){
         width: 52px;
         height: 52px; 

         svg {
            width: 28px;
            height: 28px;
         }
      }
   }
}

@keyframes svgArrow {

   70% {
      transform: translateY(0);
   }

   100% {
      transform: translateY(-10px);
   }
}

//====================================================================================================
