.social {
   padding-top: 80px;
   margin-bottom: 540px;
   position: relative;
   // min-height: 100vh;

   @media (max-width: em(1440)){
      margin-bottom: 440px; 
   }

   // .social__container
   &__container {
      position: relative;
      z-index: 10;
   }

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      padding: 30px 0;


      @media (max-width:$mobile){
          flex-direction: column; 
      }
   }

   &__text {
      flex: 1 1 auto;
      max-width: 820px;
   }

   &__message {
      // transform: rotate(-6deg);
      position: relative;
      background: #fff;
      border-radius: 32px;
      margin-top: 130px;
      padding: 40px 24px 30px 24px;
      max-width: 612px;
      transform: rotate(-6deg);

      &:before {
         content: '';
         position: absolute;
         width: 73px;
         height: 33px;
         background: url(../img/social/fin.png) center no-repeat;
         background-size: contain;
         top: -32px;
         left: 14%;
      }

      @media (max-width:$mobile){
          margin-top: 46px; 
          transform: rotate(6deg);
          max-width: 300px;
          padding: 30px 14px 20px 14px;
          border-radius: 20px;
      }
   }

   &__lincks {
      flex: 1 1 auto;
      display: flex;
      justify-content: end;
      align-items: flex-start;
      padding-right: 20px;
      position: relative;

      @media (max-width:$mobile){
          width: 100%; 
      }

      @media (max-width: em(360)){
         padding-right: 10px;  
      }
   }

   &__bg {
      position: absolute;
      width: 100%;
      z-index: 0;
      top: 20px;
      left: 0;

      @media (max-width:$mobile){
         top: 40px;
      }
   }

   &__bg-item:last-child {
      display: none;

      @media (max-width:$mobile){
          display: block; 
      }
   }

   &__hand {
      position: absolute;
      left: -18%;
      bottom: -14%;
      z-index: 5;
      pointer-events: none;
      // transform: translate(115%, -19%);
   }

   &__shadow {
      position: absolute;
      left: -15%;
      bottom: -15%;
      // transform: translate(180%, 235%) scale(0.4);
   }

   @media (max-width: em(1596)){
      &__hand {
         left: -22%;
         bottom: -28%;
      }

      &__shadow {
         left: -18%;
         bottom: -29%;
      }
   }

   @media (max-width: em(1325)){
      margin-bottom: 280px; 
   }

   @media (max-width: em(1192)){
      &__hand {
         width: 163px;
         height: 170px;
         bottom: -33%;
      } 

      &__shadow {
         width: 105px;
         height: 10px;
         bottom: -34%;
      }
   }
   @media (max-width: em(833)){
      &__hand {
         left: -37%;
         bottom: -43%;
      } 

      &__shadow {
         left: -37%;
         bottom: -46%;
      }
   }

   @media (max-width:$mobile){
      padding: 0 0 0 0;

      &__hand {
         width: 89px;
         height: 94px;
         left: 17%;
         bottom: -18%;
      } 

      &__shadow {
         width: 67px;
         height: 6px;
         left: 18%;
         bottom: -21%;
      }
   }
   @media (max-width:em(492)){
      &__hand {
         left: 0%;
         bottom: -18%;
      } 

      &__shadow {
         left: 0%;
         bottom: -21%;
      }
   }
   @media (max-width:$mobileSmall){
      margin-bottom: 190px; 
   }
   @media (max-width:em(445)){
      &__hand {
         left: 0%;
         bottom: -44%;
      } 

      &__shadow {
         left: 0%;
         bottom: -50%;
      }
   }
}

.social-card {
   background: linear-gradient(0deg, #FFF 0%, #FFF 100%), 
   linear-gradient(0deg, #FFF 0%, #FFF 100%), 
   linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
   background: #fff;
   display: inline-block;
   overflow: hidden;
   padding: 10px;
   border-radius: 52px;
   position: relative;
   flex-shrink: 0;

   @media (max-width: em(1024)) {
      border-radius: 36px;
   }

   @media (max-width: em(884)) {
      border-radius: 25px;
   }

   @media (max-width:$mobileSmall){
      border-radius: 23px; 
      padding: 6px;
   }

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform: translate(-100%, -100%);
      transition: all 0.3s ease-in;
   }


   &_inst {
      z-index: 2;
      transform: rotate(-12.163deg);
      &::before {
         background: linear-gradient(139deg, #D9D9D9 0%, #7300E4 0.01%, #E300A4 48.46%, #FFF500 100.97%);
      }

      svg {
         transform: rotate(12deg);
         rect {
            transition: all 0.4s ease-in;
            transition-delay: 0.2s;
            stroke: #000000;
         }
      }

      .border {
         transition: all 0.4s ease-in;
         transition-delay: 0.2s;
         stroke: #000000;
      }

      .dot {
         transition: all 0.4s ease-in;
         transition-delay: 0.2s;
         fill: #000000;
      }

      @media (any-hover: hover) {
         &:hover {
            .border {
               stroke: #FFFFFF;
            }
      
            .dot {
               fill: #FFFFFF;
            }

            svg {
               rect {
                  stroke: #FFFFFF;
               }
            }
         }
      }
   }

   &_fb {
      z-index: 1;
      margin-top: 30%;
      margin-left: -46px;
      transform: rotate(16.787deg);
      &::before {
         background: #1B74E4;
      }

      svg {
         transform: rotate(-17deg);
         path {
            transition: all 0.4s ease-in;
            transition-delay: 0.2s;
            fill: #000000;
         }
      }

      @media (any-hover: hover) {
         &:hover {
            svg {
               path {
                  fill: #FFFFFF;
               }
            }
         }
      }

      @media (max-width: em(1024)) {
         margin-top: 34%;
         margin-left: -36px;
      }

      @media (max-width:$mobile){
         margin-top: 20%; 
      }

      @media (max-width: em(455)){
         margin-top: 12%;
         margin-left: -2px;
      }
   }

   // .social-card__link
   &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #000;
      padding: 40px 60px;
      border-radius: 46px;
      position: relative;
      z-index: 10;
      transition: all 0.4s ease-in;
      transition-delay: 0.2s;

      span {
         display: block;
         color: #000;
         text-align: center;
         font-family: $fontFamily, sans-serif;
         @include adaptiveValue("font-size", 24, 16);
         font-weight: 700;
         text-transform: uppercase;
         transition: all 0.4s ease-in;
         transition-delay: 0.2s;
      }
      
      @media (max-width: em(1200)){
          padding: 20px 30px; 
      }

      @media (max-width: em(1024)){
           border-radius: 32px;
           svg {
               width: 140px;
               height: 140px;
           }
      }

      @media (max-width: em(884)){
         border-radius: 22px;
         padding: 20px 26px;
           svg {
               width: 100px;
               height: 100px;
           }  
      }

      @media (max-width:$mobileSmall){
         border-radius: 20px;
         padding: 20px 12px;
         svg {
            width: 68px;
            height: 68px;
         }  
      }
   }

   @media (any-hover: hover) {
      &:hover {
         &::before {
            transform: translate(0%, 0%);
            border-radius: 46px;
         }

         .social-card__link {
            border: 2px solid #fff;

            span {
               color:#fff;
            }
         }

         .glow{
            transform: rotate(45deg) translate(450%, 0);
            transition: all 1s ease-in-out;
            transition-delay: 1s;
          }

          .glow-wrap{
            margin-top: 0;
          }
      }
   }

   .glow-wrap{
      overflow: hidden;
      position: absolute;
      width: 130%;
      height: 130%;
      top: 0;
      margin-top: -10px;
    }
    
   .glow{
      display: block;
      position:absolute;
      width: 40%;
      height: 200%;
      background: rgba(255, 255, 255, 0.38);
      top: 0;
      filter: blur(6px);
      // backdrop-filter: blur(5.6px);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      transform: rotate(45deg) translate(-450%, 0);
      transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}

